@import "https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/light/main.css";

.viewDiv {
  height:92vh;
  position: relative;
}

.controlDiv {
  max-height: 92vh;
  overflow: scroll;
}

.mapViewModeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
